body {
    margin: 0;
    padding: 0;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

main {
  padding: 10px 0 0 0;
}

a {
  color: rgb(56, 37, 48);
  text-decoration: none;
}

.card {
    padding: 1em;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    width: auto
}

.card div {
  margin-top: 10px;
}

.card h2 {
  margin: 0;
}

.vert-label-field {
  display: flex;
  flex-direction:column;
}

.vert-label-field input {
  width: auto;
}

.input-helper-text {
  color: red;
  margin: 0;
}

button {
  padding: 5px;
  background-color: rgb(56, 37, 48);
  color: white;
  border-radius: .2em;
  border: 0;
  cursor: pointer;
}

button:hover {
  background-color: rgb(99, 65, 85);
}

button:active {
  background-color: rgb(117, 61, 83);
}

button.big-button {
  padding: 1em;
  width: 100%;
}

@media screen and (min-width: 601px) {
  .card {
    border: 1px solid grey;
    border-radius: .5em;
    width: 80%;
    max-width: 500px;
  }

  main {
    display: flex;
    justify-content: center;
    margin: auto;
  }
}