body {
    margin: 0;
    padding: 0;
}

main {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 10px 0 0 0;
}

.form-container {
    padding: 1em;
    border: 0;
    width: 100%;
}

.form-container div {
  margin-top: 10px;
}

.form-container h2 {
  margin: 0;
}

@media screen and (min-width: 601px) {
  .form-container {
    border: 1px solid grey;
    border-radius: .5em;
    width: 80%;
    max-width: 500px;
  }
}